resume-editor.mehdibekhtaoui.com {
    reverse_proxy resume-app:3000
}

resume.mehdibekhtaoui.com {
    # Only redirect the exact root path
    @root path / 
    redir @root /demycode/mehdi-bekhtaoui 308
    reverse_proxy resume-app:3000
}

resume-download.mehdibekhtaoui.com {
    reverse_proxy resume-app:9000
}

nextcloud.mehdibekhtaoui.com {
    reverse_proxy nextcloud:80
}

immich.mehdibekhtaoui.com {
    reverse_proxy immich-server:2283
}

vaultwarden.mehdibekhtaoui.com {
    reverse_proxy vaultwarden:80
}

vikunja.mehdibekhtaoui.com {
    reverse_proxy vikunja:3456
}
