resume.mehdibekhtaoui.com {
    reverse_proxy resume-app:3000
}

resume-download.mehdibekhtaoui.com {
  reverse_proxy resume-app:9000
}

nextcloud.mehdibekhtaoui.com {
    reverse_proxy nextcloud:80
}
