resume-editor.mehdibekhtaoui.com {
    reverse_proxy resume-app:3000
}

resume.mehdibekhtaoui.com {
    # Only redirect the exact root path
    @root path / 
    redir @root /demycode/mehdi-bekhtaoui 308
    reverse_proxy resume-app:3000
}

resume-download.mehdibekhtaoui.com {
    reverse_proxy minio:9000
}

nextcloud.mehdibekhtaoui.com {
    reverse_proxy nextcloud:80
}

immich.mehdibekhtaoui.com {
    reverse_proxy immich-server:2283
}

vaultwarden.mehdibekhtaoui.com {
    reverse_proxy vaultwarden:80
}

mehdibekhtaoui.com {
    header /.well-known/matrix/* Content-Type application/json
    header /.well-known/matrix/* Access-Control-Allow-Origin *
    respond /.well-known/matrix/server "{\"m.server\": \"matrix.mehdibekhtaoui.com:443\"}"
    respond /.well-known/matrix/client "{\"m.homeserver\":{\"base_url\":\"https://matrix.mehdibekhtaoui.com\"},\"m.identity_server\":{\"base_url\":\"https://identity.mehdibekhtaoui.com\"}}"

    reverse_proxy homepage:80
}

mail.mehdibekhtaoui.com {
  # Optionally provision RSA 2048-bit certificate instead of ECDSA P-256:
  tls {
    key_type rsa2048
  }

  # Optional, can be useful for troubleshooting
  # connection to Caddy with correct certificate:
  respond "Hello DMS"
}

matrix.mehdibekhtaoui.com {
  reverse_proxy /_matrix/* synapse:8008
  reverse_proxy /_synapse/client/* synapse:8008
  reverse_proxy synapse:8008
}

nostr.mehdibekhtaoui.com {
    reverse_proxy strfry:7777
}
